@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../../../scss/global";
@-webkit-keyframes ani-mouse {
  0% {
      opacity: 1;
      top: 29%;
  }
  15% {
      opacity: 1;
      top: 50%;
  }
  50% {
      opacity: 0;
      top: 50%;
  }
  100% {
      opacity: 0;
      top: 29%;
  }
}

.slider-wrp {
  position: relative;
  background-color: $primary-text;
  background-image: url(../../../../static/images/slider-bg.png);
  background-size: cover;
  .form-control {
    height: 50px;
    width: 252px;
    border-radius: 4px;
    background: $banner-textbox-bg;
    color: $textwhite;
    font-weight: 400;
  }
  .banner-text {
    padding: 40px 0;
    p {
      font-size: 18px;
      color: $banner-text;
    }
  }
  .slick-slider {
    position: static;
  }
  .slick-dots {
    bottom: 50%;
    right: 10px;
    width: auto;
    transform: rotate(90deg);
    li {
      button {
        font-size: 14px;
        color: $banner-bullet-text;
        transform: rotate(270deg);
        &:before {
          left: 18px;
          color: transparent;
          top: 8px;
        }
      }
    }
    .slick-active {
      button {
        color: $slider-active-color;
        &:before {
          background: $slider-active-color;
          content: "";
          height: 2px;
          width: 16px;
        }
      }
    }
  }
 .scroll-down-banner{
  bottom: 35px;
  position: relative;
  left: 15px;
   .scroll-down-icon{
    padding: 10px;
    border-radius: 10px;
     border:1px solid $scroll-color;
     span{
      width: 2px;
      height: 12px;
      margin: -4px 0 0 -1px;
      background:  $secondary-color ;
      -webkit-animation: ani-mouse 2.0s linear infinite;
      -moz-animation: ani-mouse 2.0s linear infinite;
      animation: ani-mouse 2.0s linear infinite;
      padding: 1px;
     }
   }
   span{
     color: $scroll-color;
     span{
      padding: 0 10px;
     }
   }
 }
}
.slider-heading {
  padding: 100px 0;
  .banner-padding {
    padding: 30px 0;
  }
}

@media(min-width:767px){
  .slider-wrp {
    .slick-dots {
      right: -17px;
    }
  }
}
@media (max-width: 1024px) {
  .slider-heading {
    padding: 70px 0;
  }
}


@media (max-width: 767px) {
  .slider-heading {
    padding: 35px 0;
    .banner-padding {
      padding: 20px 0;
    }
  }
  .slider-wrp {
    .form-control {
      height: 45px;
    }
    .scroll-down-banner{
      bottom: 60px;
      left: 42%;
    }
    .banner-text {
      padding: 20px 0;
    }
  }

}
@media (max-width: 480px) {
  .banner-form {
    display: block;
  }
  .banner-btn-padding {
    padding: 15px 0;
  }
  .slider-wrp {
    .slick-dots {
      bottom: 20px;
      transform: none;
      li {
        button {
          transform: none;
        }
      }
      .slick-active {
          button {
              &:before {
                  height: 16px; 
                  width:2px;
                  left:10px;
                  top:20px;
              }
          }
      }
    }
  }
  .slider-wrp {
        .slick-dots {
          left: 0;
        }
      }
}
