$primary-color:#3232CC;
$primary-opacity: rgba(50, 50, 204, 0.4);
$secondary-color: #FF6539;
$primary-text: #1E1E21;
$textwhite: #ffffff;
$textblack: #000000;
$secondary-text: #D8D8D8;
$border-primary: #EAEAEA;
$border-alternate: #707070;
$banner-text: #5E5D64;
$slider-active-color: #A5A4A4;
$banner-textbox-bg: #2C2C30;
$banner-bullet-text: #535353;
$scroll-color: #48484D;
$text-alternate: #8E8E8E;
$icon-bg: #F5F5FC;
$bg-gray: #F0F0F1;
$slider-designation: #666666;